p {
  margin: 0;
  font-weight: map-get($map: $fw, $key: regular);
  font-size: 16px;
  color: $grey-text;
  letter-spacing: 1px;
}

h1 {
  font-weight: map-get($map: $fw, $key: semi-bold);
  font-size: 32px;
  color: $dark;
  margin-bottom: 15px;
}

h5 {
  font-weight: map-get($map: $fw, $key: semi-bold);
  color: $dark;
  font-size: 16px;
}

// START: index page
section.hero {
  .copywriting {
    .my-name {
      font-size: 58px;
      font-weight: map-get($map: $fw, $key: semi-bold);
      color: $dark;
    }
  }

  .hero-image {
    object-fit: contain;
    width: 80%;

    @media only screen and (max-width: 600px) {
      width: 75%;
    }
  }

  .social-icons {
    ul {
      list-style-type: none;
      li {
        margin-bottom: 10px;
        a.icons {
          text-decoration: none;
          img {
            width: 36px;
            transition: 1s;
            &:hover {
              width: 48px;
            }
          }
          span {
            transition: 1s;
            opacity: 0;
            &:hover {
              opacity: 1;
              font-size: 14px;
              color: $grey;
            }
          }
        }
      }
    }
  }

  .social-icons-mobile {
    padding: 30px;
    a {
      img {
        width: 36px;
      }
    }
  }
}

section.tools {
  padding: 100px 10px 0;
  .content {
    border: 0;
    border-radius: 18px;
    background-color: $light-grey;
    padding: 25px 20px;
    img {
      width: 36px;
    }
  }
}

section.service {
  padding-top: 100px;

  .service-item {
    padding: 20px;
    background-color: $light-grey;
    border-radius: 38px 28px 14px 14px;
    transition: 1s;

    @media only screen and (max-width: 600px) {
      margin-top: 15px;
    }

    img {
      width: 52px;
      padding-bottom: 15px;
    }
    h4 {
      font-weight: map-get($map: $fw, $key: semi-bold);
      font-size: 16px;
      color: $grey-text;
    }
    &:hover {
      box-shadow: 0px 8px 18px rgba(178, 177, 255, 0.25);
    }
  }
}

section.works {
  padding: 100px 10px 0px;

  .card-porto {
    padding: 18px;
    background: #f6f9ff;
    border-radius: 18px;
    max-width: 100%;
    margin-bottom: 20px;

    img.porto-image {
      border-radius: 12px;
      max-width: inherit;
      object-fit: contain;
      margin-bottom: 15px;
    }
  }
}

footer {
  padding-top: 100px;
  padding-bottom: 30px;

  img {
    width: 68px;
  }
  span {
    @extend p;
    font-size: 12px;
  }
}
// END: index page
