@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

.btn-master, .btn-yellow, .btn-hire {
  padding: 12px 27px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
}

.btn-hire {
  background-color: #ff6a88;
  color: #ffffff;
  transition: 1s;
}
.btn-hire:hover {
  background-color: #fb4141;
  color: #ffffff;
}

.btn-yellow {
  border-radius: 12px !important;
  background-color: #f7cc74;
  color: #ffffff;
}
.btn-yellow:hover {
  background-color: #c7c9d9;
  color: #ffffff;
}

nav.navbar {
  padding-bottom: 100px;
  /* ANIMATED X */
}
nav.navbar .navbar-nav .nav-link {
  color: #ff6a88;
  font-size: 14px;
  font-weight: 600;
  margin-left: 50px;
}
@media only screen and (max-width: 600px) {
  nav.navbar {
    padding-bottom: 65px;
  }
}
nav.navbar .navbar-toggler {
  border: none;
}
nav.navbar .navbar-toggler .hamburger {
  width: 48px;
  height: 48px;
}
nav.navbar .navbar-toggler:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
nav.navbar .navbar-toggler.x {
  border: none;
}
nav.navbar .navbar-toggler.x:focus {
  outline: none;
}
nav.navbar .navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
nav.navbar .navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
nav.navbar .navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
nav.navbar .navbar-toggler.x .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  border-radius: 5px;
  background-color: #ff6a88;
  transition: all 0.5s;
}
nav.navbar .navbar-toggler.x .icon-bar + .icon-bar {
  margin-top: 4px;
}
nav.navbar .navbar-toggler.x .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}
nav.navbar .navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}
nav.navbar .navbar-toggler.x .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}

p, footer span {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #c7c9d9;
  letter-spacing: 1px;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  color: #404040;
  margin-bottom: 15px;
}

h5 {
  font-weight: 600;
  color: #404040;
  font-size: 16px;
}

section.hero .copywriting .my-name {
  font-size: 58px;
  font-weight: 600;
  color: #404040;
}
section.hero .hero-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
}
@media only screen and (max-width: 600px) {
  section.hero .hero-image {
    width: 75%;
  }
}
section.hero .social-icons ul {
  list-style-type: none;
}
section.hero .social-icons ul li {
  margin-bottom: 10px;
}
section.hero .social-icons ul li a.icons {
  text-decoration: none;
}
section.hero .social-icons ul li a.icons img {
  width: 36px;
  transition: 1s;
}
section.hero .social-icons ul li a.icons img:hover {
  width: 48px;
}
section.hero .social-icons ul li a.icons span {
  transition: 1s;
  opacity: 0;
}
section.hero .social-icons ul li a.icons span:hover {
  opacity: 1;
  font-size: 14px;
  color: #bfbfbf;
}
section.hero .social-icons-mobile {
  padding: 30px;
}
section.hero .social-icons-mobile a img {
  width: 36px;
}

section.tools {
  padding: 100px 10px 0;
}
section.tools .content {
  border: 0;
  border-radius: 18px;
  background-color: #f6f9ff;
  padding: 25px 20px;
}
section.tools .content img {
  width: 36px;
}

section.service {
  padding-top: 100px;
}
section.service .service-item {
  padding: 20px;
  background-color: #f6f9ff;
  border-radius: 38px 28px 14px 14px;
  transition: 1s;
}
@media only screen and (max-width: 600px) {
  section.service .service-item {
    margin-top: 15px;
  }
}
section.service .service-item img {
  width: 52px;
  padding-bottom: 15px;
}
section.service .service-item h4 {
  font-weight: 600;
  font-size: 16px;
  color: #c7c9d9;
}
section.service .service-item:hover {
  box-shadow: 0px 8px 18px rgba(178, 177, 255, 0.25);
}

section.works {
  padding: 100px 10px 0px;
}
section.works .card-porto {
  padding: 18px;
  background: #f6f9ff;
  border-radius: 18px;
  max-width: 100%;
  margin-bottom: 20px;
  transition: 1s;
}
section.works .card-porto img.porto-image {
  border-radius: 12px;
  max-width: inherit;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}
section.works .card-porto:hover {
  box-shadow: 0px 8px 18px rgba(178, 177, 255, 0.25);
}

footer {
  padding-top: 100px;
  padding-bottom: 30px;
}
footer img {
  width: 68px;
}
footer span {
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */